# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
server/web/static
dist

# Node dependencies
node_modules

# Python
__pycache__
*.db

# Logs
logs
*.log

# Misc
.vscode
.DS_Store
.fleet
.idea
templates

# Local env files
.env
.env
!.env.example