$layout-border-radius: 15px;
$top-space: 4%;
$side-space: 12%;
$border-of-content: 1px solid rgb(183, 183, 183);
$main-content-padding: 20px;
$main-content-padding-right: 5px;

$icon-button-size: 32px;